<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Testprojekt um Plugin zu Testen.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <io.jenkins.plugins.PluginMenuePostBuild plugin="RegressionToolPlugin@1.01">
      <pfadZuCPUundRAM></pfadZuCPUundRAM>
      <erstelleBasis>false</erstelleBasis>
      <anzahlAnVergangenenBuilds>1</anzahlAnVergangenenBuilds>
      <tolleranzFuerSchwankungenBasen>0.0</tolleranzFuerSchwankungenBasen>
      <tolleranzFuerTestVergleich>0.0</tolleranzFuerTestVergleich>
      <tolleranzFuerBasenVergleich>0.0</tolleranzFuerBasenVergleich>
      <timerIntervall>100.0</timerIntervall>
      <pruefeRegression>false</pruefeRegression>
      <vergleicheBasis>false</vergleicheBasis>
      <aplhaWert>0.005</aplhaWert>
      <jUnitDateiName>junitResult</jUnitDateiName>
    </io.jenkins.plugins.PluginMenuePostBuild>
  </publishers>
  <buildWrappers/>
</project>