<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Testprojekt um Plugin zu Testen.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers>
    <io.jenkins.plugins.PluginMenueClass plugin="RegressionToolPlugin@1.01">
      <pfadZuBasen></pfadZuBasen>
      <pfadZuBuilds></pfadZuBuilds>
      <pfadZuCPUundRAM></pfadZuCPUundRAM>
      <erstelleBasis>true</erstelleBasis>
      <anzahlAnVergangenenBuilds>2</anzahlAnVergangenenBuilds>
      <tolleranzFuerBasen>50.0</tolleranzFuerBasen>
      <tolleranzFuerBasenVergleich>25.0</tolleranzFuerBasenVergleich>
      <timerIntervall>10.0</timerIntervall>
      <pruefeRegression>true</pruefeRegression>
      <vergleicheBasis>false</vergleicheBasis>
      <jUnitDateiName>junitResult</jUnitDateiName>
    </io.jenkins.plugins.PluginMenueClass>
  </buildWrappers>
</project>